{
	"printWidth": 80,
	"semi": true,
	"useTabs": false,
	"tabWidth": 1,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "auto"
}
